/* =================
     Color Variables
   =================== 
   
    Working with sass variables wasn't very easy so i had to figure out
    how to make it work, i know it is not a good practice 
    writing CSS variables in sass but this is the best i could
    do. Different solutions led me to repetitive code in JS, and worst 
    practices in CSS/sass.
    In case background colors need to be changed, it can be easily done right here.
   */
html {
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-pattern: hsl(228, 100%, 98%);
  --color-card:  hsl(227, 47%, 96%);
  --color-card-hover: hsl(225, 35%, 91%);
  --color-card-text:  hsl(228, 12%, 44%);
  --color-headings-numbers: hsl(0, 0%, 0%); }

html[data-theme='dark'] {
  --color-bg: hsl(230, 17%, 14%);
  --color-bg-pattern: hsl(232, 19%, 15%);
  --color-card: hsl(228, 28%, 20%);
  --color-card-hover: hsl(228, 25%, 27%);
  --color-card-text: hsl(228, 34%, 66%);
  --color-headings-numbers: hsl(0, 0%, 100%); }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important; }

/* Light Theme */
/* Dark Theme */
/* ===================
        Font Variables
    =================== */
/* ===================
        Global style
     =================== */
* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg); }

/* ===================
             Mixins
       =================== */
/* =================
        Layout
   ================= */
.main-container {
  width: 100%;
  height: 244px;
  padding: 25px 165px;
  background-color: var(--color-bg-pattern);
  border-radius: 0px 0px 20px 20px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .main-container {
      padding: 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    .main-container {
      padding: 20px 20px; } }
  @media only screen and (min-device-width: 1200px) and (max-device-width: 1399px) {
    .main-container {
      padding: 20px 0 20px 20px; } }

.header {
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .header {
      display: flex;
      flex-wrap: wrap;
      margin: 0 15px 0 15px;
      padding-top: 36px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .line {
    border-bottom: 0.1px solid var(--color-card-text);
    padding-top: 15px; } }

.bg-mode-position {
  padding-top: 8px; }

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .container {
      display: flex;
      flex-direction: column; } }

.content-position-1 {
  margin-top: 30px;
  padding-right: 15px;
  text-align: center; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .container-2 {
    margin-left: 100px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (min-device-width: 1024px) and (max-device-width: 1199px) {
    .container-2 {
      margin-left: 220px; } }

.container-2,
.container-3 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .container-2,
    .container-3 {
      display: flex;
      flex-direction: column; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    .container-2,
    .container-3 {
      display: grid;
      grid-template-columns: 300px 300px; } }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.875rem; }

/* =================
     Switch toggle
   ================= */
.switch-container {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px; }

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0; }

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  -webkit-transition: .4s;
  transition: .4s; }
  .switch:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 13px;
    left: 12%;
    top: 18%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }

input:checked + .switch {
  background-image: linear-gradient(to right, #378fe6, #3eda82); }
  input:checked + .switch:before {
    background-color: var(--color-card-hover);
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px); }
  input:checked + .switch:hover {
    background-image: linear-gradient(to right, #378fe6, #3eda82); }

input:focus + .switch {
  box-shadow: 0 0 1px #aeb3cb; }
  input:focus + .switch:hover {
    background-image: linear-gradient(to right, #378fe6, #3eda82); }

.switch.round {
  border-radius: 34px; }
  .switch.round:before {
    border-radius: 50%; }

/* =================
       Dashboard 1
   ================= */
.card {
  width: 285px;
  height: 216px;
  margin: 46px 30px 0 0;
  top: 136px;
  left: 180px;
  padding-bottom: 35px;
  background-color: var(--color-card);
  border-radius: 5px; }
  .card:hover {
    background-color: var(--color-card-hover); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card {
      margin-left: 14px; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .card {
      margin-left: 100px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .card {
      width: 150px;
      height: 200px;
      margin: 46px 0 0 30px; } }

.card-color-fb-tw {
  height: 4px;
  left: 0;
  background: #198ff5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.card-color-insta {
  position: relative; }
  .card-color-insta::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: -1px;
    left: 0;
    background: linear-gradient(to right, #fdc468, #df4996);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.card-color-yt {
  height: 4px;
  left: 0;
  background: #c4032a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

/* =================
       Dashboard 2
   ================= */
.card-2 {
  height: 125px;
  margin: 0 30px 24px 0;
  padding: 27px 24px 27px 0;
  background-color: var(--color-card);
  border-radius: 5px; }
  .card-2:hover {
    background-color: var(--color-card-hover); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card-2 {
      margin: 0 25px 16px 25px; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .card-2 {
      margin: 0 35px 16px 35px; } }

.social-icon {
  float: right; }

.bottom-card-2 {
  width: 210px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .bottom-card-2 {
      width: 350px; } }

/* =================
        Typography
   ================= */
.intro {
  font-size: 1.75rem;
  color: var(--color-headings-numbers); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .intro {
      font-size: 1.5rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .intro {
      padding-left: 20px;
      font-size: 1.5rem; } }

.subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-card-text);
  line-height: 17px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .subtitle {
      padding-left: 20px; } }

.theme-choice-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-headings-numbers); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .theme-choice-text {
      margin-right: 150px;
      color: var(--color-card-text); } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .theme-choice-text {
      margin-right: 300px;
      color: var(--color-card-text); } }

.social-contact-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-card-text);
  vertical-align: top; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .social-contact-text {
      font-size: 0.75rem; } }

.followers-number {
  padding-top: 20px;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--color-headings-numbers); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .followers-number {
      font-size: 1.75rem; } }

.followers-text {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--color-card-text);
  letter-spacing: 5px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .followers-text {
      letter-spacing: 0; } }

.update-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: #1db489; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .update-text {
      font-size: 0.75rem; } }

.text-red {
  color: #c4032a; }

.intro-2 {
  padding-top: 38px;
  padding-bottom: 24px;
  font-weight: 700;
  color: var(--color-headings-numbers); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .intro-2 {
      margin-left: 14px; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1199px) {
    .intro-2 {
      text-align: center; } }

.social-number {
  padding-top: 23px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-headings-numbers); }

.attribution {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--color-card-text); }

.attribution:hover, .attribution:focus,
.attribution:active {
  color: var(--color-headings-numbers); }

/* =================
         Icons
   ================= */
li {
  list-style-type: none; }

.fb {
  list-style: url("../images/icon-facebook.svg");
  list-style-position: inside; }

.tw {
  list-style: url("../images/icon-twitter.svg");
  list-style-position: inside; }

.insta {
  list-style: url("../images/icon-instagram.svg");
  list-style-position: inside;
  white-space: nowrap; }

.yt {
  list-style: url("../images/icon-youtube.svg");
  list-style-position: inside; }

.up {
  list-style: url("../images/icon-up.svg");
  list-style-position: inside; }

.down {
  list-style: url("../images/icon-down.svg");
  list-style-position: inside; }
